:root {
  /* Variables CSS */
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-pale-cyan: hsl(207, 100%, 98%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --very-bale-blue: hsl(207, 100%, 98%);
}

/* Variables SASS */
